<div class= "d-flex flex-wrap mb-5">
  <% products.each do |product| %>
    <div class= "product-box">
      <% if product.is_valid == true %>
        <%= link_to product_path(product) do %>
          <%= attachment_image_tag(product, :image, size: "250x200", format: 'jpeg' ,fallback: "cake.jpg", class: "product-effect") %></br>
        <% end %>
      <% else %>
        <div class="sold-out">
          <%= link_to product_path(product) do %>
            <%= attachment_image_tag(product, :image, size: "250x200", format: 'jpeg' ,fallback: "cake.jpg", class: "product-effect") %></br>
          <% end %>
          <p>Sold out</p>
        </div>
      <% end %>

      <%= link_to product.name, product_path(product) %></br>
      ¥ <%= product.price %>
    </div>
  <% end %>
</div>