<div class= "container mb-5">
  <div class= "row">
    <div class= "col-12 pt-5">

      <nav class="navbar fixed-top genre-nav navbar-expand-lg navbar-dark">
        <ul class="navbar-nav col-7 mx-auto justify-content-between">
          <% @genres.each do |genre| %>
            <li><%= link_to genre.name, "##{genre.name}" %></li>
          <% end %>
        </ul>
      </nav>

      <% @genres.each do |genre| %>
        <h4 id="<%= genre.name %>">
          <%= genre.name %><span class= "small">（全<%= genre.products.count %>件）</span>
        </h4>
        <%= render 'products_index', products: genre.products %>
      <% end %>

      <div id="page_top"><a href="#"></a></div>
    </div>
  </div>
</div>
