<% provide(:title, "ホーム") %>
<div class="container">
	<div class="row">
		<div class="col-12">
			<p class="text-center">
			  ようこそ、ながのCAKEへ！<br>
			  このサイトは、ケーキ販売のECサイトになります。<br>
			  会員でない方も商品の閲覧はできますが、<br>
			  購入には会員登録が必要になります。<br>
			</p>

			<h2>新着商品</h2>
			<div class="d-flex felx-wrap justify-content-between">
				<% @products.first(4).each do |product| %>
				  <div>
						<!-- 後で各商品リンクへ書き換え -->
			      <%= link_to root_path do %>
			        <%= attachment_image_tag(product, :image, size: "180x130", fallback: "no_image.jpg") %>
			      <% end %>
			      <p><%= link_to product.name, root_path %></p>

				    <% if product.is_valid == true %>
				      <p>¥<%= product.price.to_s(:delimited) %></p>
				    <% elsif product.is_sale == false %>
				      <p>売切</p>
				    <% end %>
				  </div>
				<% end %>
			</div>

			<%= link_to "全ての商品を見る>", root_path, class: "float-right" %>
		</div>
	</div>
</div>