<div class= "container">
  <p id="notice"><%= notice %></p>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h3>注文詳細履歴</h3></br>

        <div class="field">
          <label class="col-sm-4">購入者</label>
          <%= link_to @order.name, admin_customer_path(@order.id) %>
        </div>

        <div class="field">
          <label class="col-sm-4">注文日</label>
          <%= @order.created_at.strftime('%Y/%m/%d') %>
        </div>

        <div class="field">
          <label class="col-sm-4">配送先</label>
            〒<%= @order.postal_code %> <%= @order.address %>
        </div>

        <div class="field">
          <label class="col-sm-4">宛名</label>
          <%= @order.name %>
        </div>

        <div class="field">
          <label class="col-sm-4">支払方法</label>
          <%= @order.payment_method %>
        </div></br>

        <div class="field">
          <label class="col-sm-4">注文ステータス</label>
          <span style="display:inline-flex">
            <%= form_with( model: @order, url: admin_order_path, method: :patch, local:true) do |f| %>
          　   <%= f.select :order_status, Order.order_statuses.keys %>
          　   <%= f.submit "更新", class:"btn btn-success" %>
            <% end %>
          </span>
        </div>
      </div>

      <div class="order-derails-group" style="display:inline-flex">
        <div class="col-xm-5">
      　   <table class='table'>
            <thead>
              <tr>
                <th>商品名</th>
                <th>単価 (税込)</th>
                <th>数量</th>
                <th>小計</th>
                <th>製作ステータス</th>
              </tr>
            </thead>
            <tbody>
              <% @order_details.each do |order_detail| %>
                <tr>
                  <td><%= order_detail.product.name %></td>
                  <td><%= tax_price(order_detail.product.price).to_s(:delimited) %></td>
                  <td><%= order_detail.quantity %></td>
                  <td><%= order_detail.subtotal_price.to_s(:delimited) %></td>
                  <td>
                    <%= form_with( model: order_detail, url: admin_order_detail_path(order_detail), method: :patch, local:true) do |f| %>
                      <%= f.select :production_status, OrderDetail.production_statuses.keys %>
                      <%= f.submit "更新", class:"btn btn-success" %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>


          <div class="billing-amount-group">
        　   <div class="d-flex justify-content-between">
              <label class="col-xm-7 billing-label">商品合計</label>
              <span class="total-price"><%= total_price(@order_details).to_s(:delimited) %>円</span>
            </div>

            <div class="d-flex justify-content-between">
              <label class="col-xm-7 billing-label">送料</label>
              <span class="freight"><%= @order.freight.to_s(:delimited) %>円</span>
            </div>

            <div class="d-flex justify-content-between">
              <label class="col-xm-7 billing-label">請求金額合計</label>
              <span class="total-billing"><%= @order.total_price.to_s(:delimited) %>円</span>
            </div>
          </div>
      </div>

      </div>
    </div>
  </div>
</div>
