<div class="container-md">
  <div class="row">
    <div class="pull-left mx-auto">
      <h4 class="bg-light text-center">ショッピングカート</h4>
    </div>
    <div class="pull-right mx-auto">
      <% if @cart_items.present? %>
        <%= link_to "カートを空にする", cart_items_path, method: :delete, class: "btn btn-outline-danger" %>
      <% end %>
    </div>
  </div>

  <% if !@cart_items.present? %>
    <div class="row">
      <h5 class="mx-auto none-item-text">カートの中身がありません</h5>
    </div>
    <div class="row">
      <div class="mx-auto">
        <%= link_to "商品を見る", products_path, class: "btn btn-outline-primary" %>
      </div>
    </div>

  <% else %>

    <div class="row table-row">
      <div class="col-8 mx-auto">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            <% @cart_items.each do |item| %>


              <tr>
                <td class="align-middle"><%= attachment_image_tag item.product, :image, size: "60x40", format: 'jpeg' ,fallback: "cake.jpg" %>　　<%= item.product.name %></td>
                <td class="align-middle"><%= ((item.product.price * 1.1).floor).to_s(:delimited) %></td>
                <td class="align-middle">
                  <%= form_with( model: @cart_items, url: cart_item_path(item.id), method: :patch, local:true) do |f| %>
                    <%= f.select :quantity, options_for_select([["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"], ["6", "6"], ["7", "7"], ["8", "8"], ["9", "9"]], item.quantity ) %>
                    <%= f.submit '変更', class: 'btn btn-outline-success btn-sm quantity-btn' %>
                  <% end %>
                </td>
                <td class="align-middle"><%= ((item.quantity * item.product.price * 1.1).floor).to_s(:delimited) %></td>
                <td class="align-middle">
                  <%= link_to 'X 削除する', cart_item_path(item.id), method: :delete, class: 'btn btn-outline-danger' %>
                </td>
              </tr>

            <% end %>

          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-8 mx-auto">
        <div class="row">

          <div class="col-9">
            <div class="mx-auto">
              <%= link_to "買い物を続ける", products_path, class: "btn btn-outline-primary" %>
            </div>
          </div>

          <div class="col-3">
            <div class="mx-auto pull-right">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>合計金額</th>
                    <td>
                      <%= ((@subtotal * 1.1).floor).to_s(:delimited) %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="mx-auto">
        <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success" %>
      </div>
    </div>

  <% end %>
</div>
