<div class="form-group">
  商品画像　<%= f.attachment_field :image, class: "form-control-file image" %>
</div>

<div class="form-group">
  <%= f.label "商品名" %>
  <%= f.text_field :name %>
</div>

<div class="form-group">
  <%= f.label "商品説明" %>
  <%= f.text_area :description %>
</div>

<div class="form-group">
  <%= f.label "ジャンル" %>
  <%= f.select :genre_id, include_blank: "-- 選択してください --" %>
</div>

<div class="form-group">
  <%= f.label "税抜価格" %>
  <%= f.text_field :price %>円
</div>

<div class="form-group">
  <label><%= f.radio_button :is_valid, "true", checked: true %> 販売中 </label>
  <label><%= f.radio_button :is_valid, "false" %> 販売停止中</label>
</div>
