<div class= "container">
  <p id="notice"><%= notice %></p>
  <div class= "row">
    <div class= "col-md-5">
      <h2>商品詳細</h2>
      <%= attachment_image_tag(@product, :image, size: "400x300", format: 'jpeg' ,fallback: "cake.jpg") %>
    </div>

    <div class= "col-md-7" style="margin-top: 40px;">
      <div class="product-group">
        <label class="col-sm-4">商品名</label>
        <%= @product.name %>
      </div></br>

      <div class="product-description">
        <label class="col-sm-4">商品説明</label>
          <%= @product.description %>
      </div></br>

      <div class="product-genres">
         <label class="col-sm-4">ジャンル</label>
         <%= @product.genre.name %>
      </div></br>

      <div class="product-price-group">
        <label class="col-sm-4">
          税込価格</br>(税抜価格)
        </label>
          <span class="h5">¥ <%= tax_price(@product.price).to_s(:delimited) %> (<%= @product.price.to_s(:delimited) %>) 円</span>
      </div></br>

      <div class="product-status">
        <label class="col-sm-4">
          販売ステータス
        </label>
        <% if @product.is_valid == true %>
      	  <span class="text-success">販売中</span>
        <% elsif @product.is_valid == false %>
      	  <span class="text-muted">販売停止中</span>
        <% end %>
      </div>
      <div class="text-left" style="margin-top:60px;">
　　　 <%= link_to "編集する", edit_admin_product_path(@product), class:"btn btn-lg btn btn-outline-success" %></td>
　　　</div>
    </div>
  </div>
</div>