<header class="mb-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <% if admin_signed_in? %>
        <%= link_to "ながのCAKE", root_path, class: "navbar-brand fas fa-birthday-cake" %>
      <% else %>
        <%= link_to "ながのCAKE", root_path, class: "navbar-brand fas fa-birthday-cake" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto navbar-light bg-light">
          <% if customer_signed_in? %>
            <li>ようこそ、<%= full_name(current_customer) %>さん！</li>
            <li><%= link_to "マイページ", customers_path, class: "btn glyphicon glyphicon-home" %></li>
            <li><%= link_to "商品一覧", products_path, class: "btn glyphicon glyphicon-briefcase" %></li>
            <li><%= link_to "カート",  cart_items_path, class: "btn" %></li>
            <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn glyphicon glyphicon-log-out" %></li>

          <% elsif admin_signed_in? %>
            <li><%= link_to "商品一覧", admin_products_path, class: "btn glyphicon glyphicon-briefcase" %></li>
            <li><%= link_to "会員一覧", new_customer_session_path, class: "btn glyphicon glyphicon-user"  %></li>
            <li><%= link_to "注文履歴一覧", new_customer_session_path, class: "btn glyphicon glyphicon-list-alt" %></li>
            <li><%= link_to "ジャンル一覧", genres_path, class: "btn glyphicon glyphicon-th-list" %></li>
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn glyphicon glyphicon-log-out" %></li>

          <% else %>
            <li><%= link_to "About", about_path, class: "btn" %></li>
            <li><%= link_to "商品一覧", products_path, class: "btn " %></li>
            <li><%= link_to "新規登録", new_customer_registration_path, class: "btn" %></li>
            <li><%= link_to "ログイン", new_customer_session_path, class: "btn" %></li>
          <% end %>
        </ul>
      </div>
    </nav>
</header>